* {
  margin: 0;
  padding: 0;
}

#container {
  width: 70%;
  margin: 0 auto;
}

#header {
  width: 100%;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 40px;
}

#title-header {
  width: 70%;
}

button.account-button {
  background: 0;
  width: 150px;
  border: 2px solid #e3e3e3;
  color: #cccccc;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 10px;
}

button.account-button:hover {
  border-color: salmon;
  color: salmon;
}

button.account-button:focus {
  border-color: salmon;
  color: salmon;
}

div#header-icon {
  margin-right: 0;
}

div#score-block {
  display: inline-flex;
  width: 100%;
}

div#score-summary {
  width: 50%;
}

div#score-area {
  margin: 40px 10% 40px 0;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 1.5em;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: #e0eaf0;
}

progress::-webkit-progress-value {
  background-color: #329ad1;
}

progress::-moz-progress-bar {
  background-color: #329ad1;
}
span#score-value {
  top: -26px;
  left: 75%;
  position: relative;
  font-size: 1.4em;
  font-weight: bolder;
  font-family: monospace;
  color: #fff;
}

div#graph-area {
  width: 50%;
}

canvas {
  width: 100%;
}
