{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Page | SignPost</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'userpage/css/index.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script
      type="text/javascript"
      src="{% static 'userpage/js/transition_graph.js' %}"
      defer
    ></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="title-header"><h1>SignPost</h1></div>
        <div id="account-setting">
          <a type="button" class="account-button" href="#popup1"
            >Account Setting</a
          >
        </div>
        <div id="header-icon">
          <img
            src="{% static 'userpage/media/profile_img.jpg' %}"
            alt="profile image"
            height="100%"
          />
        </div>
      </div>
      <div id="score-block">
        <div id="score-summary">
          <h2>Your Scores</h2>
          <div id="score-area">
            <p>Star Score</p>
            <progress id="star-score" value="{{ star_score }}" max="100"></progress>
            <span id="score-value" style="left:{{ star_score_posi }}%;"
              >{{ star_score }}</span
            >
          </div>
          <div id="score-area">
            <p>Issue Score</p>
            <progress id="issue-score"value="{{ issue_score }}" max="100"></progress>
            <span id="score-value" style="left:{{ issue_score_posi }}%;"
              >{{ issue_score }}</span
            >
          </div>
          <div id="score-area">
            <p>Pull Request Score</p>
            <progress id="pr-score" value="{{ issue_score }}" max="100"></progress>
            <span id="score-value" style="left:{{ issue_score_posi }}%;"
              >{{ issue_score }}</span
            >
          </div>
        </div>
        <div id="graph-area">
          <canvas id="score-transition"></canvas>
        </div>
      </div>
      <div id="repository-block">
        <h2>Repositories</h2>
        {% include 'userpage/repository-card.html' %}
      </div>
      {% include 'userpage/account-setting-popup.html' %}
    </div>
  </body>
</html>
