{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Page | Application</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'userpage/css/index.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script
      type="text/javascript"
      src="{% static 'userpage/js/transition_graph.js' %}"
      defer
    ></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="title-header"><h1>Application Name</h1></div>
        <div id="account-setting">
          <button type="button" class="account-button">Account Setting</button>
        </div>
        <div id="header-icon">
          <img
            src="{% static 'userpage/media/profile_img.jpg' %}"
            alt="profile image"
            height="100%"
          />
        </div>
      </div>
      <div id="score-block">
        <div id="score-summary">
          <h2>Your Scores</h2>
          <div id="score-area">
            <progress value="80" max="100"></progress>
            <span id="score-value">80</span>
          </div>
        </div>
        <div id="graph-area">
          <canvas id="score-transition"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>
